

:root {
 
  --bg-dark: hsl(0, 0%, 10%);
  --bg-darker: hsl(0, 0%, 13%);
  --bg-light: #2C2C2C;
  --bg-contrast: #E0E0E0;
  --main-body-bg: #0000;
  --footer-bg: hsl(0, 0%, 5%);

  --txt-bold: #fff;
  --txt: #A5A5A5;
  --txt-sec: hsl(0, 0%, 55%);

  --highlight: #007aff;
  --lowlight: hsl(211, 100%, 55%);
  --very-lowlight: hsl(211, 100%, 65%);

  --box-shadow: 0px 0 6px rgba(255, 255, 255, 0.1)
}

.light-mode{
  --bg-dark: #F5F5F5;
  --bg-darker: #E8E8E8;
  --bg-light: #FFFFFF;
  --bg-contrast: #2C2C2C;
  --footer-bg: hsl(0, 0%, 85%);
  --main-body-bg: #fff;

  --txt-bold: #121212;
  --txt: #4B4B4B;
  --txt-sec: #5A5A5A;
  --highlight: #007aff;
  --lowlight: hsl(211, 100%, 55%);

  --box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.comp {
  margin: 0 auto;
  max-width: 1440px;
  background: var(--bg-dark)
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display:none
}  


body {
  font-family: 'Arial', sans-serif;
  color: var(--txt);
  scroll-behavior: smooth;
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
   background-color: var(--main-body-bg);
}



a{
  text-decoration: none;
  color: var(--dark-bg);
  cursor: pointer;
}

h1, h2, h3 {
  font-weight: 600;
}



.bold{
  color: var(--txt-bold);
  font-weight: 600;
}

/*sections headings class*/
.section-headings{
  padding: 10% 6%;
  box-sizing: border-box;
}

.section-headings header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}


.section-headings header span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.section-headings header h1 {
  font-size: 3rem;
}

.special-text{
  color: var(--highlight);
}

@media screen and (max-width: 600px) {
  .navbar ul{
    display: none;
  }
  .navbar-hamburger{
    display: block;
  }

  .right-container-visible .download-cv{
    text-decoration: none;
    padding: 8px 7px;
    border-radius: 20px;
    background-color: var(--highlight);
    color: white;
    font-size: 12px;
    display: none;
  }

  .banner{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20% 20%;
  }

  .banner .me{
    width: 20rem;
    height: 20rem;
  }

  .about-me{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about-me img{
    width: 100%;
    height: auto;
  }

  .qualification-div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .qualification{
    width: 100%;
  }

  .experience-section{
    display: flex;
    flex-direction: column;
  }

  .experience-container{
    width: 100%;
    text-align: center;
  }

  .service-details-container{
    display: flex;
    flex-direction: column;

  }

  .contact-section{
    display: flex;
    flex-direction: column;
  }

  .contact-section .text-message{
    display: none;
  }

  .contact-section .form{
    width: 100%;
  }


}


@media screen and (max-width: 800px) {
  .navbar ul{
    display: none;
  }
  .navbar-hamburger{
    display: block;
  }

  .banner{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20% 20%;
    margin-top: 10%;
  }

  .banner .me{
    width: 18rem;
    height: 18rem;
  }

  .about-me{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about-me img{
    width: 100%;
    height: auto;
  }

  .qualification-div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .qualification{
    width: 100%;
  }

  .experience-section{
    display: flex;
    flex-direction: column;
  }

  .experience-container{
    width: 100%;
    text-align: center;
  }

  .service-details-container{
    display: flex;
    flex-direction: column;
  }

  .contact-section{
    display: flex;
    flex-direction: column;
  }

  .contact-section .text-message{
    display: none;
  }

  .contact-section .form{
    width: 100%;
  }


}

